@import "tailwindcss";

@theme {
  --color-background: #0B1D26;
  --color-primary: #FFFFFF;
  --color-secondary: #FBBF24;
  --color-primary-dark: #E5E7EB;
  --color-secondary-light: #FCD34D;
  --color-secondary-dark: #F59E0B;
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  
  body {
    color: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: white;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');